// Set BPoR styles

@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans:ital,wght@0,300..700;1,300..700&display=swap');

$bpor-font-family: "Inclusive Sans", Arial, sans-serif;
$bpor-brand-colour: #193E72;
$bpor-border-colour: black;
$bpor-input-border-colour: black;
$bpor-focus-text-colour: black;
$bpor-focus-colour: #FFDD00;

// Overwrite NHS variables

$nhsuk-font-family: $bpor-font-family;
$nhsuk-brand-colour: $bpor-brand-colour;
$nhsuk-border-colour: $bpor-border-colour;
$nhsuk-input-border-colour: $bpor-input-border-colour;
$nhsuk-focus-text-colour: $bpor-focus-text-colour;
$nhsuk-focus-colour: $bpor-focus-colour;

$nhsuk-button-colour: $bpor-brand-colour;



// Custom overwrites

html {
    font-family: $nhsuk-font-family;
}

.nhsuk-details__text {
    border-left: 4px solid #5A5555 !important;
}